<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue example</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="myapp1">
        {{msg}}

        <div>
            {{msg2}}
        </div>
        <img v-bind:src="msg2" alt="">
        <img :src="'images/'+msg3" alt="" v-show="showMsg3">
        <img v-for="item in aryImg" :src="'images/'+item" alt="">
        <!-- 'images/' become string to write once' -->
        <!-- v-bind/:=connect with html -->
        <!-- vue for updates new data automatically -->
        <!-- vue should use for self web -->
        <!-- <div>
            {{msg3}}
         </div>
         <img :src="basePath+msg3" alt=""> -->
    </div>

    <!-- vueApp2 -->
    <section id="sidebar">
        <h2>{{title}}</h2>
        <ul id="port">
            <!-- <li><img alt="comp0" src="images/markinjapan.jpg"></li>
                    <li><img alt="comp1" src="images/a2g.jpg" /></li>
                    <li><img alt="comp2" src="images/foobar.jpg" /></li>
                    <li><img alt="comp3" src="images/rpm.jpg" /></li> -->
            <li v-for="item in port" v-show="item.isPub"><img :src="'images/'+item.img" alt=""></li>
        </ul>
    </section>

</body>

<script>
    var vueApp = Vue.createApp({
        data() {
            return {
                msg: 'Hello!',
                msg2: "images/tokyo.jpg",
                msg3: "foobar.jpg",
                // basePath: "images/"
                showMsg3: true,
                // v-for
                aryImg: ["a2g.jpg", "markinjapan.jpg", "rpm.jpg"]
            }
        }
    }).mount('#myapp1');

    var vueApp2 = Vue.createApp({
        data() {
            return {
                title: "Our Work",
                port: [
                    { alt: "comp0", img: "markinjapan.jpg", isPub: true },
                    { alt: "comp1", img: "a2g.jpg", isPub: true },
                    { alt: "comp2", img: "foobar.jpg", isPub: true },
                    { alt: "comp3", img: "rpm.jpg", isPub: true },
                    { alt: "tokyo", img: "tokyo.jpg", }

                ]
            }
        }
    }).mount("#sidebar");

    var serviceApp = createApp({
        data() {
            return {
                Services: [
                    { icon: 'fa-shopping-cart', title: 'E-Commerce', text: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur porro laborum fuga repellat necessitatibus corporis nulla, in ex velit recusandae obcaecati maiores, doloremque quisquam similique, tempora aspernatur eligendi delectus! Rem.' },
                    { icon: 'fa-laptop', title: 'Responsive Design', text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.' },
                    { icon: 'fa-lock', title: 'Web Security', text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.' }
                ]
            }
        }
    }).mount("#services");

    createApp({
        setup() {
            return {
                Portfolio: ref([
                    { href: "#portfolioModal1", imgSrc: "img/portfolio/roundicons.png", title: "Round Icons", text: "Graphic Design" },
                    { href: "#portfolioModal2", imgSrc: "img/portfolio/startup-framework.png", title: "Startup Framework", text: "Website Design" },
                    { href: "#portfolioModal3", imgSrc: "img/portfolio/treehouse.png", title: "Treehouse", text: "Website Design" },
                    { href: "#portfolioModal1", imgSrc: "img/portfolio/roundicons.png", title: "Round Icons", text: "Graphic Design" },
                    { href: "#portfolioModal2", imgSrc: "img/portfolio/startup-framework.png", title: "Startup Framework", text: "Website Design" },
                    { href: "#portfolioModal3", imgSrc: "img/portfolio/treehouse.png", title: "Treehouse", text: "Website Design" }
                ])
            }
        }
    }).mount("#portfolio");

</script>

</html>