*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: white;
    background-size: cover;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.text-overlay{
    /* background-color: rgba(0, 0, 0, 0.6); Black with 60% opacity */
    background-image: url("assets/bg2.jpg"); 
    background-size: cover;
    background-position: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8rem;
    font-weight: bold;
    padding: 20px;
    width: 100%;
    text-align: center;

    background-clip: text;
    -webkit-text-fill-color: transparent;

}
header nav {
    background-color:#4CAF50;
    overflow: hidden;
}

header ul{
    position: absolute;
    right: 3vw;
    top: 0;
    line-height: 325px;
    z-index: 2;
}
header li{
    display: inline-block;
    margin: 4vw;
}

header a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}

header a:hover{
    text-decoration: underline;
}

p strong{
    font-size: 1.2rem;
    align-items: center;
}