body {
  background-color: #0d6efd1a; /* 淺藍底 */
  font-family: Arial, sans-serif;
}

.hero img {
  border-top: 5px solid #0d6efd;
  border-bottom: 5px solid #0d6efd;
}
a:hover {
  color: aqua;
}
.navbar .nav-link {
  padding: 10px 20px;
  color: white !important;
  font-weight: 500;
}

.navbar .nav-link:hover {
  background-color: #0090d0;
  border-radius: 5px;
}
section {
  margin-bottom: 30px;
}

section h5 {
  font-weight: 700;
}

section p a {
  color: #00a2e8;
}

section p a:hover {
  text-decoration: underline;
}
main p {
  line-height: 1.6;
}

main ul li a {
  color: #00a2e8;
  text-decoration: none;
}

main ul li a:hover {
  text-decoration: underline;
}
footer {
  border-top: 4px solid #0090d0;
  font-weight: 500;
}
